* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    background-image: url(https://lh3.googleusercontent.com/proxy/M1G6gSoXkHAZ5hVwziR8Wv4SYQgKG8d3Sb3FX_qnO9O6uiEjhnjoF4tBlBkBvjhAijVy0vXszSzyLEF46VShZdFNgWpKsYoyFSoDHSELWgv3EwwVSOiQuiLA56JAPmlU_vg);
    background-position: center;
    background-size: cover;
    
}

.container {
    width: 1100px;
    background-color: whitesmoke;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.tab-nav__item {
    padding: 10px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.tab-nav__item.is-active {
    border-color: #000;
}

.tab {
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
}

.tab.is-active {
    display: block;
}

.material-icons {
    font-size: 50px;
    
}

.tab-nav__item:hover {
    color: rgb(8, 182, 8);
    background: lavender;
}

.tab-nav__item:active {
    color: rgb(4, 255, 79);
}