{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://wordassociations.net/image/200x/svg_to_png/jean_victor_balin_graphics_rounded.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <title>{%block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <div class="mx-auto">
            <div class="tabs">
                <div class="tab__nav tabs-nav">
                    <div class="tab-nav__item is-active" data-tab-name="line"><span class="material-icons">
                        show_chart
                        </span></div>
                    <div class="tab-nav__item" data-tab-name="bar"><span class="material-icons">
                        bar_chart
                        </span></div>
                    <div class="tab-nav__item" data-tab-name="polarArea"><span class="material-icons">
                        trip_origin
                        </span></div>
                    <div class="tab-nav__item" data-tab-name="pie"><span class="material-icons">
                        donut_large
                        </span></div>
                    <div class="tab-nav__item" data-tab-name="scatter"><span class="material-icons">
                        multiline_chart
                        </span></div>
                </div>
                <div class="tab is-active line">{%block line %}{% endblock line %}</div>
                <div class="tab bar">{%block bar %}{% endblock bar %}</div>
                <div class="tab polarArea">{%block bubble %}{% endblock bubble %}</div>
                <div class="tab pie">{%block pie %}{% endblock pie %}</div>
                <div class="tab scatter">{%block scatter %}{% endblock scatter %}</div>
                </div>
            
        </div>
    </div>

    {%block scripts %}{% endblock scripts %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>