{% extends 'base.html' %} <!--Импорт из base.html -->
{%block title %}{% endblock title %}

{% block bar %}
    <canvas id="myBar"></canvas>
{% endblock bar %}

{% block line %}
    <canvas id="myLine"></canvas>
{% endblock line %}

{% block pie %}
    <canvas id="myPie"></canvas>
{% endblock pie %}

{% block scatter %}
    <canvas id="myMixed"></canvas>
{% endblock scatter %}

{%block scripts %}
    <script>
        // Chart элемент BAR
        document.addEventListener("DOMContentLoaded", function(event) { 
            let bar = document.getElementById('myBar').getContext('2d');
            let myBar = new Chart(bar, {
                // Цикл for для перебора данных из views.py
                type: {% for item in type %}'{{ item.chartType }}',{% endfor %}
                data: {
                    labels: [{% for item in threedata %}'{{ item.labels }}',{% endfor %}],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            {% for item in otherdata %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        borderColor: [{% for item in otherdata %}'{{ item.borderColor }}',{% endfor %}],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            // Chart элемент LINE
            let line = document.getElementById('myLine').getContext('2d');
            let myLine = new Chart(line, {
                type: 'line',
                data: {
                    labels: [{% for item in threedata %}'{{ item.labels }}',{% endfor %}],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            '#2ec4b6'
                        ],
                        borderColor: '#e71d36',
                        pointBorderWidth: 10,
                        pointHitRadius: 60,
                        pointBorderColor: '#ff9f1c',
                        hoverBackgroundColor: '#e71d36',
                        hoverBorderWidth: 15,
                        pointStyle: 'rectRot',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stacked: true
                            }
                        }]
                    }
                }
            });
            // Chart элемент PIE
            let pie = document.getElementById('myPie').getContext('2d');
            let myPie = new Chart(pie, {
                type: 'pie',
                data: {
                    labels: [{% for item in threedata %}'{{ item.labels }}',{% endfor %}],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            {% for item in otherdata %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        borderColor: [{% for item in otherdata %}'{{ item.borderColor }}',{% endfor %}],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            // Chart элемент MIXED
            let mixed = document.getElementById('myMixed').getContext('2d');
            let myMixed = new Chart(mixed, {
                type: 'bar',
                data: {
                    labels: [{% for item in threedata %}'{{ item.labels }}',{% endfor %}],
                    datasets: [{
                        label: 'Bar Income',
                        data: [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            {% for item in otherdata %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        order: 1
                    }, {
                        label: 'Line Income',
                        data: [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}],
                        type: 'line',
                        backgroundColor: [
                            'rgba(29, 210, 255, 0.364)'
                        ],
                        order: 2
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            document.querySelector('.three').addEventListener('click', ()=>{
                myBar.data.labels = [{% for item in threedata %}'{{ item.labels }}',{% endfor %}]
                myLine.data.labels = [{% for item in threedata %}'{{ item.labels }}',{% endfor %}]
                myMixed.data.labels = [{% for item in threedata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.labels = [{% for item in threedata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.datasets[0].data = [{% for item in threedata %}'{{ item.data }}',{% endfor %}]
                myBar.update()
                myLine.update()
                myMixed.update()
                myPie.update()
            });
            document.querySelector('.six').addEventListener('click', ()=>{
                myBar.data.labels = [{% for item in sixdata %}'{{ item.labels }}',{% endfor %}]
                myLine.data.labels = [{% for item in sixdata %}'{{ item.labels }}',{% endfor %}]
                myMixed.data.labels = [{% for item in sixdata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.labels = [{% for item in sixdata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.datasets[0].data = [{% for item in sixdata %}'{{ item.data }}',{% endfor %}]
                myBar.update()
                myLine.update()
                myMixed.update()
                myPie.update()
            });

            document.querySelector('.twelve').addEventListener('click', ()=>{
                myMixed.data.labels = [{% for item in twelvedata %}'{{ item.labels }}',{% endfor %}]
                myBar.data.labels = [{% for item in twelvedata %}'{{ item.labels }}',{% endfor %}]
                myLine.data.labels = [{% for item in twelvedata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.labels = [{% for item in twelvedata %}'{{ item.labels }}',{% endfor %}]
                myPie.data.datasets[0].data = [{% for item in twelvedata %}'{{ item.data }}',{% endfor %}]
                myLine.update()
                myBar.update()
                myMixed.update()
                myPie.update()
            });

        });
    </script>
{% endblock scripts %}