{% extends 'base.html' %}
{%block title %}Charts{% endblock title %}

{% block bar %}
    <canvas id="myBar"></canvas>
{% endblock bar %}

{% block line %}
    <canvas id="myLine"></canvas>
{% endblock line %}

{% block pie %}
    <canvas id="myPie"></canvas>
{% endblock pie %}

{% block scatter %}
    <canvas id="myScatter"></canvas>
{% endblock scatter %}

{%block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            let bar = document.getElementById('myBar').getContext('2d');
            let myBar = new Chart(bar, {
                type: {% for item in type %}'{{ item.chartType }}',{% endfor %}
                data: {
                    labels: ["January", "February", "March"],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in qs %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            {% for item in qs %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        borderColor: [{% for item in qs %}'{{ item.borderColor }}',{% endfor %}],
                        borderWidth: 1,
                        
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            
            let line = document.getElementById('myLine').getContext('2d');
            let myLine = new Chart(line, {
                type: 'line',
                data: {
                    labels: ["January", "February", "March"],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in qs %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            '#2ec4b6'
                        ],
                        borderColor: '#e71d36',
                        pointBorderWidth: 10,
                        pointHitRadius: 60,
                        pointBorderColor: '#ff9f1c',
                        hoverBackgroundColor: '#e71d36',
                        hoverBorderWidth: 15,
                        pointStyle: 'rectRot',
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stacked: true
                            }
                        }]
                    }
                }
            });
            let pie = document.getElementById('myPie').getContext('2d');
            let myPie = new Chart(pie, {
                type: 'pie',
                data: {
                    labels: ["January", "February", "March"],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [21, 32, 12],
                        backgroundColor: [
                            {% for item in qs %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        borderColor: [{% for item in qs %}'{{ item.borderColor }}',{% endfor %}],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            let scatter = document.getElementById('myScatter').getContext('2d');
            let myScatter = new Chart(scatter, {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'Bar Income',
                        data: [{% for item in qs %}'{{ item.data }}',{% endfor %}],
                        // this dataset is drawn below
                        backgroundColor: [
                            {% for item in qs %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        order: 1
                    }, {
                        label: 'Line Income',
                        data: [{% for item in qs %}'{{ item.data }}',{% endfor %}],
                        type: 'line',
                        // this dataset is drawn on top
                        backgroundColor: [
                            'rgba(29, 210, 255, 0.364)'
                        ],
                        order: 2
                    }],
                    labels: ["January", "February", "March"],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            document.querySelector('.twelve').addEventListener('click', ()=>{
                myScatter.data.labels = [{% for item in qs %}'{{ item.labels }}',{% endfor %}]
                myBar.data.labels = [{% for item in qs %}'{{ item.labels }}',{% endfor %}]
                myLine.data.labels = [{% for item in qs %}'{{ item.labels }}',{% endfor %}]
                myPie.data.labels = [{% for item in qs %}'{{ item.labels }}',{% endfor %}]
                myPie.data.datasets[0].data = [{% for item in qs %}'{{ item.data }}',{% endfor %}]
                myLine.update()
                myBar.update()
                myScatter.update()
                myPie.update()
            });
            document.querySelector('.six').addEventListener('click', ()=>{
                myBar.data.labels = ["January", "February", "March", "April", "May", "June"]
                myLine.data.labels = ["January", "February", "March", "April", "May", "June"]
                myScatter.data.labels = ["January", "February", "March", "April", "May", "June"]
                myPie.data.labels = ["January", "February", "March", "April", "May", "June"]
                myPie.data.datasets[0].data = [21, 32, 12, 67, 75, 64]
                myBar.update()
                myLine.update()
                myScatter.update()
                myPie.update()
            });
            document.querySelector('.three').addEventListener('click', ()=>{
                myBar.data.labels = ["January", "February", "March"]
                myLine.data.labels = ["January", "February", "March"]
                myScatter.data.labels = ["January", "February", "March"]
                myPie.data.labels = ["January", "February", "March"]
                myPie.data.datasets[0].data = [21, 32, 12]
                myBar.update()
                myLine.update()
                myScatter.update()
                myPie.update()
            });

        });
    </script>
{% endblock scripts %}