{% extends 'datachart.html' %}
{%block title %}MuChart{% endblock title %}

{% block content %}
    <canvas id="myChart"></canvas>
{% endblock content %}



{% block scrip %}
<script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            let bar = document.getElementById('myChart').getContext('2d');
            let myBar = new Chart(bar, {
                type: {% for item in type %}'{{ item.chartType }}',{% endfor %}
                data: {
                    labels: [{% for item in qs %}'{{ item.labels }}',{% endfor %}],
                    datasets: [{
                        label: {% for item in name %}'{{ item.name }}'{%endfor%},
                        data: [{% for item in qs %}'{{ item.data }}',{% endfor %}],
                        backgroundColor: [
                            {% for item in qs %}'{{ item.backgroundColor }}',{% endfor %}
                        ],
                        borderColor: [{% for item in qs %}'{{ item.borderColor }}',{% endfor %}],
                        borderWidth: 1,
                        
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
{% endblock scrip %}